
<h2>Matt Colville will teach you how to DM</h2>

<h3>@ViewBag.data</h3>
<img src="@ViewBag.image"/>
<a href="@ViewBag.source" >Redirects to Image</a> <br />
<a href="@ViewBag.permalink">Redirects to Post</a>

<br /><br />